.container_cv{
    width: 1920px;
    height: 900px;
    background-color: red;
    
}
.grid-header{
   background-color: blue;
   position: fixed; 
   display: grid;
    grid-template-columns:30% 70%;  
}
.menu{
    float: right;

}
.nom{
    
}
.grid-containerPrinc{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}
.photo{
    object-fit: cover;
    width: 100%;
    

}
.studio{
    object-fit: cover;
    width: 100%;
  
}
.text{
   
}
